* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

header .navbar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #181818;
  opacity: 0.9;
  width: 100%;
}

header .navbar-flex .logo-img {
  margin: 0 30px;
}

header .navbar-flex .navbar-style {
  margin: 0 50px;
}

header .navbar-flex .navbar-style ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-flex .navbar-style ul li {
  list-style: none;
}

header .navbar-flex .navbar-style ul li .navlink {
  text-decoration: none;
  color: beige;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

header .navbar-flex .navbar-style ul li .navlink:hover {
  opacity: 0.5;
}

.login {
  background-image: url("/img/Sendero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
}

.login .title-login {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}

.login .box-login {
  background-color: #ffffff2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  height: 75%;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.login .box-login .form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .box-login .form-login .label {
  font-size: 20px;
}

.login .box-login .form-login .formulario {
  margin: 10px 0;
  width: 300px;
  height: 35px;
  border: none;
  -webkit-box-shadow: 0px 1px 5px #88bb3a;
          box-shadow: 0px 1px 5px #88bb3a;
  border-radius: 10px;
  padding-left: 12px;
}

.login .box-login .form-login .formulario:focus {
  outline: 1px solid #88bb3a;
}

.login .box-login .form-login .boton {
  margin: 10px 0;
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: #88bb3a;
  font-size: 16px;
  font-weight: 500;
}

.login .box-login .form-login .boton:hover {
  background-color: #517023;
  color: #fff;
  cursor: pointer;
}

.login .box-login .link {
  text-decoration: none;
  font-weight: 500;
}

.login .box-login .link:hover {
  color: #517023;
  cursor: pointer;
  text-decoration: underline;
}

.footer {
  background-color: #293133;
}

.footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer-flex .left {
  margin: 50px 0;
}

.footer .footer-flex .left .left-main-text {
  text-align: center;
  color: #fff;
  font-size: 26px;
}

.footer .footer-flex .left .left-text {
  color: #fff;
  text-align: center;
  margin: 15px 5px;
}

.footer .footer-flex .right .right-text {
  text-align: center;
  color: #fff;
  font-size: 26px;
}

.footer .footer-flex .right .social-contact .img-social-contact {
  width: 60px;
  margin: 15px 5px;
}

.footer .footer-flex .right .social-contact .img-social-contact:hover {
  opacity: 0.5;
}

.footer .hr-footer {
  margin: 0 auto;
  opacity: 0.5;
}

.footer .copyright {
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
/*# sourceMappingURL=login.css.map */