<footer class="footer">
    <div class="footer-flex">
        <div class="left">
            <p class="left-main-text">Sobre nosotros</p>
            <p class="left-text">Reciclarte surge para intentar concientizar acerca de los <br> peligros que produce la contamincion ambiental y los <br> problemas que vendràn si no se actùa a tiempo.</p>
        </div>
        <div class="right">
            <p class="right-text">Nuestras redes</p>
            <div class="social-contact">
                <a href="https://www.facebook.com/"><img class="img-social-contact" src="../../assets/img/facebook.png" alt=""></a>
                <a href="https://twitter.com/"><img class="img-social-contact" src="../../assets/img/gorjeo.png" alt=""></a>
                <a href="https://ar.linkedin.com/"><img class="img-social-contact" src="../../assets/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/"><img class="img-social-contact" src="../../assets/img/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/"><img class="img-social-contact" src="../../assets/img/instagram.png" alt=""></a>
            </div>
        </div>
    </div>

    <hr class="hr-footer">

    <p class="copyright">Córdoba recicla 2022 | Todos los derechos reservados.</p>
</footer>

