
<section class="section2">
    <div class="cuestion-flex">
        <img class="section2-img" src="../../assets/img/img_index3.png" alt="Las tierra y mis manos">
        <div class="text-flex">
            <p class="cuestion">{{ 'second_subtitle' | translate }}</p>
            <p class="cuestion-text">{{ 'septimo_text' | translate }} <br> {{ 'octavo_text' | translate }} <br>{{ 'noveno_text' | translate }}</p>
            <p><i class="fa-solid fa-droplet"></i> {{ 'item_uno' | translate }}</p>
            <p><i class="fa-brands fa-cotton-bureau"></i> {{ 'item_dos' | translate }}</p>
            <p><i class="fa-solid fa-leaf"></i> {{ 'item_tres' | translate }}</p>
            <p><i class="fa-solid fa-sack-dollar"></i> {{ 'item_cuatro' | translate }}</p>
            <p><i class="fa-solid fa-trowel"></i> {{ 'item_cinco' | translate }}</p>
            <p class="cuestion-text">{{ 'info' | translate }} <a href="#" class="more-info">{{ 'click' | translate }}</a></p>
        </div>
    </div>
</section>
<app-footer></app-footer>
