<app-header></app-header>


<section class="section1">
    <div class="cuestion-flex">
        <img class="section1-img" src="../../assets/img/6f0ed89e-a9d0-47ac-8afe-0021a5c79a42.jpg" alt="Las tierra y mis manos">
        <div class="text-flex">
            <p class="cuestion">{{ 'first_subtitle' | translate }}</p>
            <p class="cuestion-text">{{ 'first_text' | translate }} <br> {{ 'second_text' | translate }} <br> {{ 'thirth_text' | translate }} <br> {{ 'fourt_text' | translate }} <br><br> {{ 'quinto_text' | translate }} <br> {{ 'sexto_text' | translate }}</p>
            <div class="flex-img">
                <img src="../../assets/img/water-cycle.png" alt="" class="re-img">
                <img src="../../assets/img/recycle.png" alt="" class="re-img">
                <img src="../../assets/img/planet-earth.png" alt="" class="re-img">
            </div>
        </div>
    </div>
</section>

<hr class="hr-sections">