<hr class="hr-sections">

<section class="section2">
    <div class="cuestion-flex">
        <img class="section2-img" src="../../assets/img/img_index3.png" alt="Las tierra y mis manos">
        <div class="text-flex">
            <p class="cuestion">¿Que podemos reciclar?</p>
            <p class="cuestion-text">Es importante saber que casi todos los residuos se pueden reciclar, sin <br> embargo, según el tipo de material con los que están fabricados, éstos <br> conllevan un procedimiento y destino final distinto.</p>
            <p><i class="fa-solid fa-droplet"></i> Humedos: Comida, cartón, pañales o papel mojado, curitas, entre otros.</p>
            <p><i class="fa-brands fa-cotton-bureau"></i> Secos: Vidrio, plástico, cartón, tetrabrik, telas, telgopor, aluminio y latón.</p>
            <p><i class="fa-solid fa-leaf"></i> Verdes: Ramas, malezas y troncos.</p>
            <p><i class="fa-solid fa-sack-dollar"></i> Voluminosos: Muebles en desuso, electrodomésticos y/o sus partes.</p>
            <p><i class="fa-solid fa-trowel"></i> Residuos de obra: Escombros, residuo de obra, cascotes.</p>
            <p class="cuestion-text">Para mas información <a href="#" class="more-info">hacé click aquí.</a></p>
        </div>
    </div>
</section>

