<!-- div class="language-picker-area">
    <div class="picker-laber">{{'choose_language' | translate}}</div>
    <select (change)="selectLanguage($event)" class="language-picker">
        <option value="en-US">English</option>
        <option value="es-ES">Spanish</option>
    </select>
</div>
<div class="content">
    <h1>
      {{ 'title' | translate }}
    </h1>
    <h3>
      {{ 'welcome_text' | translate }}
    </h3>
    <button class="info">
      {{ 'info' | translate }}
    </button>
  </div> -->
<router-outlet></router-outlet>
