<footer class="footer">
    <div class="footer-flex">
        <div class="left">
            <p class="left-main-text">{{ 'nosotros' | translate }}</p>
            <p class="left-text">{{ 'text_footer_uno' | translate }}<br> {{ 'text_footer_dos' | translate }} <br> {{ 'text_footer_tres' | translate }}</p>
        </div>
        <div class="right">
            <p class="right-text">{{ 'redes' | translate }}</p>
            <div class="social-contact">
                <a href="https://www.facebook.com/"><img class="img-social-contact" src="../../assets/img/facebook.png" alt=""></a>
                <a href="https://twitter.com/"><img class="img-social-contact" src="../../assets/img/gorjeo.png" alt=""></a>
                <a href="https://ar.linkedin.com/"><img class="img-social-contact" src="../../assets/img/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/"><img class="img-social-contact" src="../../assets/img/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/"><img class="img-social-contact" src="../../assets/img/instagram.png" alt=""></a>
            </div>
        </div>
    </div>

    <hr class="hr-footer">

    <p class="copyright">{{ 'copyright' | translate }}</p>
</footer>

