<section class="section1">
    <div class="cuestion-flex">
        <img class="section1-img" src="../../assets/img/6f0ed89e-a9d0-47ac-8afe-0021a5c79a42.jpg" alt="Las tierra y mis manos">
        <div class="text-flex">
            <p class="cuestion">¿Que es reciclar?</p>
            <p class="cuestion-text">El proceso de reciclaje es una actividad que ayuda a solucionar <br> los problemas ocasionados por los millones de toneladas de <br> desechos sólidos, que producimos a diario los seres humanos <br> en todo el mundo. <br><br> Reciclar supone contribuir a proteger el medioambiente para <br> detener la contamincion ambiental.</p>
            <div class="flex-img">
                <img src="../../assets/img/water-cycle.png" alt="" class="re-img">
                <img src="../../assets/img/recycle.png" alt="" class="re-img">
                <img src="../../assets/img/planet-earth.png" alt="" class="re-img">
            </div>
        </div>
    </div>
</section>
